.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.header__content {
  display: flex;
  height: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.164);
}

.header__text {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.header__lozung {
  padding: 20px;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.849);
}

.header__btn {
  width: 150px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.479);
  border: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.89);
  border-radius: 10px;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: center;
  box-shadow: -1px -20px 20px 7px rgba(255, 255, 255, 0.164);
  border-bottom: 3px solid rgba(255, 255, 255, 0.164);
}

.header__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 600px
}

.header__item {
  color: #bbbbbb;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  background-color: #262626;
  cursor: pointer;
}

.header__item:hover {
  text-decoration: underline;
}

/* function slide (id) {
imgContainer.style.left = -100 * id + "%";
pagination.forEach(pag => {
pag.classList.remove('active');
});
pagination [id].classList.add('active');

caption.style.animation = "textChange 1s ease-in-out
setTimeout(() = {
  caption.style.animation = "none";
  }, 1000);

  setTimeout(() => {
  caption Text.innerText = captions[id];
}, 500);
}
let interval = setInterval(autoSlide, 4000);

let imgId  = 1

function autoSlide() {

if(imgId> pagination.length - 1) {
  imgId = 0;
  }
  slide(imgId);
  imgId++
}

for(let i = 0; i < pagination.length; i++) {
pagination[i].addEventListener('click', () => {
clearInterval (interval);
slide(i);
imgId = i + 1;
interval = setInterval(autoSlide, 4000);
});
}

 */